* **aggregate** : reduces a set of values into a single summary value.
* It is used to summarize and analyze data
* Often used with the groupby() function

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("data.csv")
df

,Pokedex_Number,Name,Type1,Type2,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
2,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
3,25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False
4,39,Jigglypuff,Normal,Fairy,115,45,20,45,25,20,1,False
5,52,Meowth,Normal,NaN,40,45,35,40,40,90,1,False
6,94,Gengar,Ghost,Poison,60,65,60,130,75,110,1,False
7,130,Gyarados,Water,Flying,95,125,79,60,100,81,1,False
8,143,Snorlax,Normal,NaN,160,110,65,65,110,30,1,False

* find mean of any column that is numeric

In [4]:
m=df.mean(numeric_only=True)
m

Pokedex_Number    55.000000
HP                70.333333
Attack            66.000000
Defense           50.666667
Sp_Atk            62.777778
Sp_Def            64.333333
Speed             63.777778
Generation         1.000000
Legendary          0.000000
dtype: float64

In [5]:
s=df.sum(numeric_only=True)
s

Pokedex_Number    495
HP                633
Attack            594
Defense           456
Sp_Atk            565
Sp_Def            579
Speed             574
Generation          9
Legendary           0
dtype: int64

In [6]:
m1=df.min(numeric_only=True)
m1

Pokedex_Number        1
HP                   35
Attack               45
Defense              20
Sp_Atk               40
Sp_Def               25
Speed                20
Generation            1
Legendary         False
dtype: object

In [8]:
m2=df.max(numeric_only=True)
m2

Pokedex_Number      143
HP                  160
Attack              125
Defense              79
Sp_Atk              130
Sp_Def              110
Speed               110
Generation            1
Legendary         False
dtype: object

In [9]:
c=df.count()
c

Pokedex_Number    9
Name              9
Type1             9
Type2             4
HP                9
Attack            9
Defense           9
Sp_Atk            9
Sp_Def            9
Speed             9
Generation        9
Legendary         9
dtype: int64

* get aggregate value for a particular column

In [10]:
cc=df["Speed"].mean()
cc

np.float64(63.77777777777778)

In [11]:
df["Defense"].sum()

np.int64(456)

In [12]:
group=df.groupby("Type1")
group

* get the mean according to the Type 1

In [13]:
group["Defense"].mean()

Type1
Electric    40.0
Fire        43.0
Ghost       60.0
Grass       49.0
Normal      40.0
Water       72.0
Name: Defense, dtype: float64

In [15]:
group["Speed"].sum()

Type1
Electric     90
Fire         65
Ghost       110
Grass        45
Normal      140
Water       124
Name: Speed, dtype: int64

In [16]:
group["Speed"].min()

Type1
Electric     90
Fire         65
Ghost       110
Grass        45
Normal       20
Water        43
Name: Speed, dtype: int64

In [17]:
group["Speed"].count()

Type1
Electric    1
Fire        1
Ghost       1
Grass       1
Normal      3
Water       2
Name: Speed, dtype: int64