In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("data.csv")
df

,Pokedex_Number,Name,Type1,Type2,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
2,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
3,25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False
4,39,Jigglypuff,Normal,Fairy,115,45,20,45,25,20,1,False
5,52,Meowth,Normal,NaN,40,45,35,40,40,90,1,False
6,94,Gengar,Ghost,Poison,60,65,60,130,75,110,1,False
7,130,Gyarados,Water,Flying,95,125,79,60,100,81,1,False
8,143,Snorlax,Normal,NaN,160,110,65,65,110,30,1,False

In [4]:
df.shape

(9, 12)

In [5]:
df.head()

,Pokedex_Number,Name,Type1,Type2,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
2,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
3,25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False
4,39,Jigglypuff,Normal,Fairy,115,45,20,45,25,20,1,False

In [6]:
df.head(7)

,Pokedex_Number,Name,Type1,Type2,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
2,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
3,25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False
4,39,Jigglypuff,Normal,Fairy,115,45,20,45,25,20,1,False
5,52,Meowth,Normal,NaN,40,45,35,40,40,90,1,False
6,94,Gengar,Ghost,Poison,60,65,60,130,75,110,1,False

In [7]:
df.to_string()

'   Pokedex_Number        Name     Type1   Type2   HP  Attack  Defense  Sp_Atk  Sp_Def  Speed  Generation  Legendary\n0               1   Bulbasaur     Grass  Poison   45      49       49      65      65     45           1      False\n1               4  Charmander      Fire     NaN   39      52       43      60      50     65           1      False\n2               7    Squirtle     Water     NaN   44      48       65      50      64     43           1      False\n3              25     Pikachu  Electric     NaN   35      55       40      50      50     90           1      False\n4              39  Jigglypuff    Normal   Fairy  115      45       20      45      25     20           1      False\n5              52      Meowth    Normal     NaN   40      45       35      40      40     90           1      False\n6              94      Gengar     Ghost  Poison   60      65       60     130      75    110           1      False\n7             130    Gyarados     Water  Flying   95     125       79      60     100     81           1      False\n8             143     Snorlax    Normal     NaN  160     110       65      65     110     30           1      False'

In [10]:
af=pd.read_json("data.json")
af

,Pokedex_Number,Name,Type1,Type2,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
2,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
3,25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False
4,39,Jigglypuff,Normal,Fairy,115,45,20,45,25,20,1,False
5,52,Meowth,Normal,NaN,40,45,35,40,40,90,1,False
6,94,Gengar,Ghost,Poison,60,65,60,130,75,110,1,False
7,130,Gyarados,Water,Flying,95,125,79,60,100,81,1,False
8,143,Snorlax,Normal,NaN,160,110,65,65,110,30,1,False

**selection**

In [11]:
df["Name"]

0     Bulbasaur
1    Charmander
2      Squirtle
3       Pikachu
4    Jigglypuff
5        Meowth
6        Gengar
7      Gyarados
8       Snorlax
Name: Name, dtype: str

In [12]:
df['Name'].to_string()

'0     Bulbasaur\n1    Charmander\n2      Squirtle\n3       Pikachu\n4    Jigglypuff\n5        Meowth\n6        Gengar\n7      Gyarados\n8       Snorlax'

In [14]:
df["Type1"]

0       Grass
1        Fire
2       Water
3    Electric
4      Normal
5      Normal
6       Ghost
7       Water
8      Normal
Name: Type1, dtype: str

In [16]:
df[["Name","Type1"]]

         Name     Type1
0   Bulbasaur     Grass
1  Charmander      Fire
2    Squirtle     Water
3     Pikachu  Electric
4  Jigglypuff    Normal
5      Meowth    Normal
6      Gengar     Ghost
7    Gyarados     Water
8     Snorlax    Normal

* selection by rows

In [18]:
df.loc[0]

Pokedex_Number            1
Name              Bulbasaur
Type1                 Grass
Type2                Poison
HP                       45
Attack                   49
Defense                  49
Sp_Atk                   65
Sp_Def                   65
Speed                    45
Generation                1
Legendary             False
Name: 0, dtype: object

In [21]:
df.loc["Name":"Bulbasaur"]

Empty DataFrame
Columns: [Pokedex_Number, Name, Type1, Type2, HP, Attack, Defense, Sp_Atk, Sp_Def, Speed, Generation, Legendary]
Index: []

In [25]:
df.loc[0,["Type1","Type2"]]

Type1     Grass
Type2    Poison
Name: 0, dtype: str

* access the first 10 rows

In [26]:
df.iloc[0:11]

,Pokedex_Number,Name,Type1,Type2,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
2,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
3,25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False
4,39,Jigglypuff,Normal,Fairy,115,45,20,45,25,20,1,False
5,52,Meowth,Normal,NaN,40,45,35,40,40,90,1,False
6,94,Gengar,Ghost,Poison,60,65,60,130,75,110,1,False
7,130,Gyarados,Water,Flying,95,125,79,60,100,81,1,False
8,143,Snorlax,Normal,NaN,160,110,65,65,110,30,1,False

* access the first 10 even rows

In [27]:
df.iloc[0:11:2]

,Pokedex_Number,Name,Type1,Type2,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
4,39,Jigglypuff,Normal,Fairy,115,45,20,45,25,20,1,False
6,94,Gengar,Ghost,Poison,60,65,60,130,75,110,1,False
8,143,Snorlax,Normal,NaN,160,110,65,65,110,30,1,False

* access the even rows with only 3 columns

In [28]:
df.iloc[0:11:2,0:3]

   Pokedex_Number        Name   Type1
0               1   Bulbasaur   Grass
2               7    Squirtle   Water
4              39  Jigglypuff  Normal
6              94      Gengar   Ghost
8             143     Snorlax  Normal

In [30]:
pokemon=int(input("Enter a pokemon index:"))
try:
    print(df.loc[pokemon])
except KeyError:
    print(f"{pokemon} not found")

Pokedex_Number            1
Name              Bulbasaur
Type1                 Grass
Type2                Poison
HP                       45
Attack                   49
Defense                  49
Sp_Atk                   65
Sp_Def                   65
Speed                    45
Generation                1
Legendary             False
Name: 0, dtype: object