In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("data.csv")
df

,Pokedex_Number,Name,Type1,Type2,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
2,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
3,25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False
4,39,Jigglypuff,Normal,Fairy,115,45,20,45,25,20,1,False
5,52,Meowth,Normal,NaN,40,45,35,40,40,90,1,False
6,94,Gengar,Ghost,Poison,60,65,60,130,75,110,1,False
7,130,Gyarados,Water,Flying,95,125,79,60,100,81,1,False
8,143,Snorlax,Normal,NaN,160,110,65,65,110,30,1,False

* drop a particular irrelevant column

In [3]:
df=df.drop(columns=["HP"])
df

,Pokedex_Number,Name,Type1,Type2,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,49,49,65,65,45,1,False
1,4,Charmander,Fire,NaN,52,43,60,50,65,1,False
2,7,Squirtle,Water,NaN,48,65,50,64,43,1,False
3,25,Pikachu,Electric,NaN,55,40,50,50,90,1,False
4,39,Jigglypuff,Normal,Fairy,45,20,45,25,20,1,False
5,52,Meowth,Normal,NaN,45,35,40,40,90,1,False
6,94,Gengar,Ghost,Poison,65,60,130,75,110,1,False
7,130,Gyarados,Water,Flying,125,79,60,100,81,1,False
8,143,Snorlax,Normal,NaN,110,65,65,110,30,1,False

In [4]:
df=df.drop(columns=["Defense","Speed"])
df

,Pokedex_Number,Name,Type1,Type2,Attack,Sp_Atk,Sp_Def,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,49,65,65,1,False
1,4,Charmander,Fire,NaN,52,60,50,1,False
2,7,Squirtle,Water,NaN,48,50,64,1,False
3,25,Pikachu,Electric,NaN,55,50,50,1,False
4,39,Jigglypuff,Normal,Fairy,45,45,25,1,False
5,52,Meowth,Normal,NaN,45,40,40,1,False
6,94,Gengar,Ghost,Poison,65,130,75,1,False
7,130,Gyarados,Water,Flying,125,60,100,1,False
8,143,Snorlax,Normal,NaN,110,65,110,1,False

* look in Type 2 column
    * if found a null value:
        * drop the entire row

In [5]:
# df.dropna(subset=["Type2"])

* **fillna** fill any non available value in Type 2 = None

In [6]:
df.fillna({"Type2":"None"})

,Pokedex_Number,Name,Type1,Type2,Attack,Sp_Atk,Sp_Def,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,49,65,65,1,False
1,4,Charmander,Fire,None,52,60,50,1,False
2,7,Squirtle,Water,None,48,50,64,1,False
3,25,Pikachu,Electric,None,55,50,50,1,False
4,39,Jigglypuff,Normal,Fairy,45,45,25,1,False
5,52,Meowth,Normal,None,45,40,40,1,False
6,94,Gengar,Ghost,Poison,65,130,75,1,False
7,130,Gyarados,Water,Flying,125,60,100,1,False
8,143,Snorlax,Normal,None,110,65,110,1,False

* fix any inconsistent value

In [7]:
df["Type1"]=df["Type1"].replace({"Grass":"GRASS"})

In [8]:
df

,Pokedex_Number,Name,Type1,Type2,Attack,Sp_Atk,Sp_Def,Generation,Legendary
0,1,Bulbasaur,GRASS,Poison,49,65,65,1,False
1,4,Charmander,Fire,NaN,52,60,50,1,False
2,7,Squirtle,Water,NaN,48,50,64,1,False
3,25,Pikachu,Electric,NaN,55,50,50,1,False
4,39,Jigglypuff,Normal,Fairy,45,45,25,1,False
5,52,Meowth,Normal,NaN,45,40,40,1,False
6,94,Gengar,Ghost,Poison,65,130,75,1,False
7,130,Gyarados,Water,Flying,125,60,100,1,False
8,143,Snorlax,Normal,NaN,110,65,110,1,False

In [9]:
df["Type1"]=df["Type1"].replace({"Fire":"FIRE","Water":"WATER"})
df

,Pokedex_Number,Name,Type1,Type2,Attack,Sp_Atk,Sp_Def,Generation,Legendary
0,1,Bulbasaur,GRASS,Poison,49,65,65,1,False
1,4,Charmander,FIRE,NaN,52,60,50,1,False
2,7,Squirtle,WATER,NaN,48,50,64,1,False
3,25,Pikachu,Electric,NaN,55,50,50,1,False
4,39,Jigglypuff,Normal,Fairy,45,45,25,1,False
5,52,Meowth,Normal,NaN,45,40,40,1,False
6,94,Gengar,Ghost,Poison,65,130,75,1,False
7,130,Gyarados,WATER,Flying,125,60,100,1,False
8,143,Snorlax,Normal,NaN,110,65,110,1,False

* standardize text

In [10]:
df["Name"]=df["Name"].str.upper()
df

,Pokedex_Number,Name,Type1,Type2,Attack,Sp_Atk,Sp_Def,Generation,Legendary
0,1,BULBASAUR,GRASS,Poison,49,65,65,1,False
1,4,CHARMANDER,FIRE,NaN,52,60,50,1,False
2,7,SQUIRTLE,WATER,NaN,48,50,64,1,False
3,25,PIKACHU,Electric,NaN,55,50,50,1,False
4,39,JIGGLYPUFF,Normal,Fairy,45,45,25,1,False
5,52,MEOWTH,Normal,NaN,45,40,40,1,False
6,94,GENGAR,Ghost,Poison,65,130,75,1,False
7,130,GYARADOS,WATER,Flying,125,60,100,1,False
8,143,SNORLAX,Normal,NaN,110,65,110,1,False

* fix the data type

In [11]:
df["Generation"]=df["Generation"].astype(bool)
df

,Pokedex_Number,Name,Type1,Type2,Attack,Sp_Atk,Sp_Def,Generation,Legendary
0,1,BULBASAUR,GRASS,Poison,49,65,65,True,False
1,4,CHARMANDER,FIRE,NaN,52,60,50,True,False
2,7,SQUIRTLE,WATER,NaN,48,50,64,True,False
3,25,PIKACHU,Electric,NaN,55,50,50,True,False
4,39,JIGGLYPUFF,Normal,Fairy,45,45,25,True,False
5,52,MEOWTH,Normal,NaN,45,40,40,True,False
6,94,GENGAR,Ghost,Poison,65,130,75,True,False
7,130,GYARADOS,WATER,Flying,125,60,100,True,False
8,143,SNORLAX,Normal,NaN,110,65,110,True,False

* drop any duplicates present

In [12]:
df=df.drop_duplicates()