In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("data.csv")
df

,Pokedex_Number,Name,Type1,Type2,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
2,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
3,25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False
4,39,Jigglypuff,Normal,Fairy,115,45,20,45,25,20,1,False
5,52,Meowth,Normal,NaN,40,45,35,40,40,90,1,False
6,94,Gengar,Ghost,Poison,60,65,60,130,75,110,1,False
7,130,Gyarados,Water,Flying,95,125,79,60,100,81,1,False
8,143,Snorlax,Normal,NaN,160,110,65,65,110,30,1,False

* fitler the pokemons according to their speed

In [4]:
tall_pokemon=df[df["Speed"]>=50]
tall_pokemon

,Pokedex_Number,Name,Type1,Type2,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary
1,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
3,25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False
5,52,Meowth,Normal,NaN,40,45,35,40,40,90,1,False
6,94,Gengar,Ghost,Poison,60,65,60,130,75,110,1,False
7,130,Gyarados,Water,Flying,95,125,79,60,100,81,1,False

In [6]:
l_pokemon=df[df["Legendary"]==True]
l_pokemon

Empty DataFrame
Columns: [Pokedex_Number, Name, Type1, Type2, HP, Attack, Defense, Sp_Atk, Sp_Def, Speed, Generation, Legendary]
Index: []

In [7]:
water_pokemon=df[df["Type1"]=="Water"]
water_pokemon

,Pokedex_Number,Name,Type1,Type2,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary
2,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
7,130,Gyarados,Water,Flying,95,125,79,60,100,81,1,False

In [9]:
w_pokemon=df[(df["Type1"]=="Water") | (df["Type2"]=="Water")]
w_pokemon

,Pokedex_Number,Name,Type1,Type2,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary
2,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
7,130,Gyarados,Water,Flying,95,125,79,60,100,81,1,False

In [10]:
f_pokemon=df[(df["Type1"]=="Water") & (df["Type2"]=="Flying")]
f_pokemon

,Pokedex_Number,Name,Type1,Type2,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary
7,130,Gyarados,Water,Flying,95,125,79,60,100,81,1,False