### series is a 1D labelled data.

In [1]:
import pandas as pd
import numpy as np

In [2]:
data=[234,45,3,63,64]
series=pd.Series(data)
series

0    234
1     45
2      3
3     63
4     64
dtype: int64

### Dataframe is 2D

In [3]:
d=pd.DataFrame(series)
d

     0
0  234
1   45
2    3
3   63
4   64

In [6]:
a=pd.Series(data,index=['a','b','c','d','e'])
a

a    234
b     45
c      3
d     63
e     64
dtype: int64

In [8]:
a.loc["d"]=5555
a

a     234
b      45
c       3
d    5555
e      64
dtype: int64

In [9]:
series

0    234
1     45
2      3
3     63
4     64
dtype: int64

In [11]:
print(series.iloc[2])
print(series.iloc[4])

3
64

In [12]:
series[series>=63]

0    234
3     63
4     64
dtype: int64

* the index is the "key" in a dictionary

In [13]:
calories={"day1":232,"day2":2342,"day3":3929}
b=pd.Series(calories)
b

day1     232
day2    2342
day3    3929
dtype: int64

In [14]:
b.loc["day3"]

np.int64(3929)

In [21]:
b.loc["day3"]-=1000

In [22]:
b

day1     232
day2    2342
day3    2429
dtype: int64

In [23]:
b[b>=2000]

day2    2342
day3    2429
dtype: int64