In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
d1=[11,12,13,14,15]
d2=['a','b','c','d','e']
d3=(5,4,3,2,1)
d4={'p':100,'q':200,'r':300,'s':400,'t':500}

In [4]:
pd.Series(d1)

0    11
1    12
2    13
3    14
4    15
dtype: int64

In [5]:
pd.Series(d1,d2)

a    11
b    12
c    13
d    14
e    15
dtype: int64

In [6]:
pd.Series(d2,d1)

11    a
12    b
13    c
14    d
15    e
dtype: str

In [7]:
pd.Series(d3,d4)

p    5
q    4
r    3
s    2
t    1
dtype: int64

In [8]:
pd.Series(d4,d3)

5   NaN
4   NaN
3   NaN
2   NaN
1   NaN
dtype: float64

In [9]:
pd.Series(d4)

p    100
q    200
r    300
s    400
t    500
dtype: int64

In [10]:
s1=pd.Series([1,2,3,3],['goa','pune','patna','nepal'])

In [11]:
s1

goa      1
pune     2
patna    3
nepal    3
dtype: int64

In [12]:
s2=pd.Series([1,2,3,4],['book','pencil','pen','copy'])

In [13]:
s2

book      1
pencil    2
pen       3
copy      4
dtype: int64

In [14]:
pd.Series(s2,s1)

1   NaN
2   NaN
3   NaN
3   NaN
dtype: float64

In [15]:
s2+s1

book     NaN
copy     NaN
goa      NaN
nepal    NaN
patna    NaN
pen      NaN
pencil   NaN
pune     NaN
dtype: float64

## Data Frame

In [16]:
np.random.randn(2,5)

array([[ 0.27505864, -0.10975894, -0.23662866,  0.23502705, -2.32116814],
       [-1.18593667,  2.23544476, -0.82368591,  0.80961058, -3.06963884]])

In [17]:
d=pd.DataFrame(np.random.randn(5,4),['a','b','c','d','e'],[1,2,3,4])
d

          1         2         3         4
a -1.218837 -0.738945 -1.267331 -1.681919
b  0.017659  2.319148  0.303008 -1.017935
c -0.050988 -1.156316  0.353947  2.624570
d -0.231405  0.115173 -0.391516  1.743750
e  0.621709 -0.844210 -0.325218 -1.720024

In [18]:
type(d)

pandas.DataFrame

In [19]:
d.shape

(5, 4)

In [20]:
d[3]

a   -1.267331
b    0.303008
c    0.353947
d   -0.391516
e   -0.325218
Name: 3, dtype: float64

In [21]:
type(d[3])

pandas.Series

* access more than one columns

In [22]:
d[[1,2]]

          1         2
a -1.218837 -0.738945
b  0.017659  2.319148
c -0.050988 -1.156316
d -0.231405  0.115173
e  0.621709 -0.844210

* way to get the entire row

In [23]:
d.loc['b']

1    0.017659
2    2.319148
3    0.303008
4   -1.017935
Name: b, dtype: float64

* accessing more than  one row at a time

In [24]:
d.loc[['b','e']]

          1         2         3         4
b  0.017659  2.319148  0.303008 -1.017935
e  0.621709 -0.844210 -0.325218 -1.720024

* **iloc** can be used to access data by using the indices

In [25]:
d.iloc[[1,4]]

          1         2         3         4
b  0.017659  2.319148  0.303008 -1.017935
e  0.621709 -0.844210 -0.325218 -1.720024

In [28]:
d[3]>(-0.3)

a    False
b     True
c     True
d    False
e    False
Name: 3, dtype: bool

In [29]:
type(d)

pandas.DataFrame

* add a new column to the existing dataframe

In [31]:
d['new_column']=d[2]+d[3]
d

          1         2         3         4  new_column
a -1.218837 -0.738945 -1.267331 -1.681919   -2.006277
b  0.017659  2.319148  0.303008 -1.017935    2.622156
c -0.050988 -1.156316  0.353947  2.624570   -0.802369
d -0.231405  0.115173 -0.391516  1.743750   -0.276343
e  0.621709 -0.844210 -0.325218 -1.720024   -1.169429

In [32]:
d.columns

Index([1, 2, 3, 4, 'new_column'], dtype='object')

In [ ]:
d.

<bound method DataFrame.rpow of           1         2         3         4  new_column
a -1.218837 -0.738945 -1.267331 -1.681919   -2.006277
b  0.017659  2.319148  0.303008 -1.017935    2.622156
c -0.050988 -1.156316  0.353947  2.624570   -0.802369
d -0.231405  0.115173 -0.391516  1.743750   -0.276343
e  0.621709 -0.844210 -0.325218 -1.720024   -1.169429>